<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">
    <update id="update">
        UPDATE dish
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="image != null and image != ''">
                image = #{image},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser},
            </if>
        </set>
        WHERE id = #{id}
    </update>


    <delete id="delete">
        delete from dish where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>



    <select id="getDishsByIds" resultType="com.sky.entity.Dish">
        select * from dish where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>


    <select id="dishsByCondition" resultType="com.sky.entity.Dish">
        select * from dish
        <where>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="categoryId != null">
                AND category_id = #{categoryId}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="listDeletableIds" resultType="java.lang.Long">
        select id
        from dish
        where status != 1
        and id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>

    <resultMap id="DishWithFlavorsMap" type="com.sky.vo.DishVO">
        <id property="id" column="dish_id"/>
        <result property="name" column="dish_name"/>
        <result property="categoryId" column="category_id"/>
        <result property="categoryName" column="category_name"/>
        <result property="price" column="price"/>
        <result property="image" column="image"/>
        <result property="description" column="description"/>
        <result property="status" column="status"/>
        <result property="updateTime" column="update_time"/>

        <!-- 映射 flavors 列表 -->
        <collection property="flavors" ofType="com.sky.entity.DishFlavor">
            <id property="id" column="flavor_id"/>
            <result property="name" column="flavor_name"/>
            <result property="value" column="flavor_value"/>
        </collection>
    </resultMap>

    <select id="listDishsWithFlavors" resultMap="DishWithFlavorsMap">
        SELECT
        d.id          AS dish_id,
        d.name        AS dish_name,
        d.category_id AS category_id,
        d.price       AS price,
        d.image       AS image,
        d.description AS description,
        d.status      AS status,
        d.update_time AS update_time,
        c.name        AS category_name,
        df.id         AS flavor_id,
        df.name       AS flavor_name,
        df.value      AS flavor_value
        FROM dish d
        LEFT JOIN dish_flavor df ON d.id = df.dish_id
        LEFT JOIN category c ON d.category_id = c.id
        <where>
            <if test="status != null">
                AND d.status = #{status}
            </if>
            <if test="categoryId != null">
                AND d.category_id = #{categoryId}
            </if>
        </where>


        ORDER BY c.sort ASC, d.create_time DESC
    </select>


</mapper>
